.parent-coin {
    height: 80px;
    width: 80px;
    margin: 9px;
    position: relative;
    transform-style: preserve-3d;
}

.coin {
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800;
    backface-visibility: hidden;
}

.coin-head {
    background-color: #bb4;
}

.coin-tail {
    background-color: #9aa;
    transform: rotateY(180deg);
}
