body{
    --head-iteration: 5;
    --tail-iteration: 5;
}

.parent-coin{
    height: 80px;
    width: 80px;
    margin: 9px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin{
    position: absolute;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    font-weight: 800;
}

.coin-head{
    background-color: #bb4;
    transform: rotateY(-90deg);
    animation: coin-head 5s linear infinite;
}

.coin-tail{
    background-color: #9aa;
    transform: rotateY(90deg);
    animation: coin-tail 5s linear infinite;
}

#coinflip:hover .coin-head{
    animation: coin-head-flipping 0.5s linear 0s var(--head-iteration) normal forwards;
}

#coinflip:hover .coin-tail{
    animation: coin-tail-flipping 0.5s linear 0s var(--tail-iteration) normal forwards;
}

@keyframes coin-head {
    0%{
        transform: rotateY(-90deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}

@keyframes coin-tail {
    0%{
        transform: rotateY(-90deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}

@keyframes coin-head-flipping {
    0%{
        transform: rotateY(-90deg);
    }
    50%{
        transform: rotateY(90deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}

@keyframes coin-tail-flipping {
    0%{
        transform: rotateY(-90deg);
    }
    50%{
        transform: rotateY(-90deg);
    }
    100%{
        transform: rotateY(90deg);
    }
}
